{% extends 'common/main_auth.html' %}

{% block title %}Sign-in{% endblock %}

{% block body %}
<body>

<div class="container">

    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign-in</h2>
        {{ auth_user }}
        <button class="btn-btn btn btn-lg btn-primary btn-block" type="submit">Sign-in</button>
    </form>

    <a class="link form-signin btn-block" href="{% url 'common:registration' %}">Sign-up</a>


</div>

</body>
{% endblock %}