{% extends 'posts/main.html' %}
{% block title %}Main Page{% endblock %}

{% block body %}
<div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.create_at }} {{ post.user.email }}</p>
              <p>{{ post.body }}</p>
              {% if post.image %}
                <p><img src="{{ post.image.url }}"></p>
              {% endif %}
            <form method="POST" action="{% url 'posts:do_like' %}">{% csrf_token %}
                <input type="hidden" name="like" value="{{ post.id }}">
                <p class="like" class="blog-post-meta"><input type="submit" value="like">
                {{ post.like_post__count }}</p>
            </form>
          </div><!-- /.blog-post -->
            <form method="POST">{% csrf_token %}
            {{ form.as_p }}
                <input type="submit" value="Save comment">
            </form>
            <hr>
            <div class="row">
                {% for comment in comments %}
                {{ comment.user.email }}
              <div class="alert alert-success">{{comment.body }}</div>
                {% endfor %}
            </div>

          <ul class="pager">
            <li><a href="{% url 'posts:post_detail' post.id page_prev %}?{{ request.GET.urlencode }}">Previous</a></li>
            <li><a href="{% url 'posts:post_detail' post.id page_next %}?{{ request.GET.urlencode }}">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

        </div><!-- /.blog-sidebar -->
</div><!-- /.row -->
{% endblock %}
